@charset "utf-8";
/* 포스터 슬라이드 */
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
/* 기본 폰트 */
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
/* 언어선택 폰트 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.kopubbatang * {
  font-family: "KoPub Batang", serif;
}
#wrap {
  width: 100%;
}
/* [1] 헤더 */
#header {
  position: fixed;
  width: 100%;
  height: 114px;
  backdrop-filter: blur(2px);
}
/* (1) 메뉴, 로고 감싸는 컨테이너 */
.mn_container {
  width: 100%;
  height: 100%;
  position: relative;
}
/* (1-1) 네비 메뉴 버튼 */
.mn_container .nav_mn {
  float: left;
  margin: 40px 0 0 48px;
}
/* (1-2) 로고 */
.mn_container .logo {
  position: absolute;
  left: 50%;
  margin: 30px 0 0 -73px;
}
/* (1-3) 언어선택 */
.mn_container .language {
  float: right;
  margin: 31px 48px 0 0;
}
.mn_container .language span {
  font-size: 15px;
  line-height: 23px;
  color: #101010;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* 메뉴 */
nav {
  position: fixed;
  --transition-time: 500ms;
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  transform: translateX(-100%);
  transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
  z-index: 4;
}
nav a {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-decoration: none;
  user-select: none;
  color: #fff;
  font-family: "Pretendard-ExtraBold";
}
nav .nav-links {
  --link-height: 60px;
  position: relative;
  width: 100%;
}
nav .nav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: var(--link-height);
  list-style: none;
  opacity: 0;
  transform: translateX(-50%);
  transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 0.9);
  transition-delay: calc(30ms + var(--delay));
  cursor: pointer;
  z-index: 8;
}
nav .nav-links li:hover {
  color: rgba(255, 255, 255, 0.85);
}
nav .nav-links li a {
  /* pointer-events: none; */
  z-index: 9;
}
nav .nav-links li ol {
  display: none;
}
nav .nav-links .hover-el {
  position: absolute;
  width: 100%;
  height: var(--link-height);
  top: var(--y);
  left: var(--x);
  opacity: 0;
  background: radial-gradient(
    circle at var(--mousex) var(--mousey),
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 0, 0, 0.45) 100%
  );
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  pointer-events: none;
  z-index: 5;
}
nav .sub-menu {
  --link-height: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
nav .sub-menu ol {
  list-style: none;
}
nav .sub-menu ol li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--link-height);
  transition: all var(--transition-time) ease;
  transition-delay: calc(30ms + var(--delay));
  cursor: pointer;
}
nav .sub-menu ol li:hover {
  background: rgba(0, 0, 0, 0.25);
}
nav .sub-menu ol li.off-menu {
  opacity: 0;
  transform: translateY(30%);
}
nav .sub-menu ol li.on-menu {
  opacity: 1;
  transform: translateY(0%);
}
nav .sub-menu ol li a {
  font-size: 1.6rem;
  font-weight: normal;
}
nav .sub-menu-btn {
  --icon-width: 40px;
  position: absolute;
  top: 2.5%;
  left: 10%;
  width: var(--icon-width);
  height: var(--icon-width);
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  opacity: 0;
  transform: translateX(-100%);
  transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 1.25);
  cursor: pointer;
  z-index: 8;
  pointer-events: none;
}
nav .sub-menu-btn .line {
  width: calc(var(--icon-width) - 28px);
  height: 2px;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 12px 10px;
}
nav .sub-menu-btn .line__1 {
  transform-origin: left;
  transform: rotate(-35deg) translate(-1px, 8px);
}
nav .sub-menu-btn .line__2 {
  transform-origin: left;
  transform: rotate(35deg) translate(-1px, -8px);
}
nav .menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  --icon-width: 25px;
  position: absolute;
  top: 2.5%;
  right: -15%;
  width: calc(var(--icon-width) + 25px);
  height: calc(var(--icon-width) + 25px);
  flex-direction: column;
  transition: all calc(100ms + var(--transition-time))
    cubic-bezier(0.8, 0, 0.33, 1.25);
  cursor: pointer;
  z-index: 10;
}
nav .menu-btn.close .line__1 {
  transform: rotate(45deg) translate(2px, -3px);
}
nav .menu-btn.close .line__2 {
  transform: rotate(-45deg);
}
nav .menu-btn.close .line__3 {
  transform: rotate(45deg) translate(-2px, 3px);
}
nav .menu-btn .line {
  width: var(--icon-width);
  background: rgb(0, 0, 0);
  height: 2px;
  margin: 3px 0;
  transition: all calc(var(--transition-time) + 100ms)
    cubic-bezier(0.9, 0, 0.33, 1);
}
nav .menu-btn .line__1 {
  width: var(--icon-width);
  transform-origin: left;
}
nav .menu-btn .line__2 {
  width: var(--icon-width);
  transform-origin: center;
}
nav .menu-btn .line__3 {
  width: var(--icon-width);
  transform-origin: right;
}
nav.nav-open {
  transform: translateX(0%);
}
nav.nav-open .menu-btn {
  right: 10%;
}
nav.nav-open .nav-links li {
  transform: translateX(0);
  opacity: 1;
}
nav.sub-menu-open .sub-menu-btn {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}
nav.sub-menu-open .nav-links li {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10%);
}
nav.sub-menu-open .nav-links .hover-el {
  opacity: 0;
}
/* (1) 메뉴, 로고 감싸는 컨테이너 */
.mn_container {
  width: 100%;
  height: 100%;
  position: relative;
}
/* (1-1) 네비 메뉴 버튼 */
.mn_container .nav_mn {
  float: left;
  margin: 40px 0 0 48px;
}
/* (1-2) 로고 */
.mn_container .logo {
  position: absolute;
  left: 50%;
  margin: 30px 0 0 -73px;
}
/* (1-3) 언어선택 */
.mn_container .language {
  float: right;
  margin: 31px 48px 0 0;
}
.mn_container .language span {
  font-size: 15px;
  line-height: 23px;
  color: #101010;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
/* [2] 메인화면 */
/* [2] 메인화면 */
#main {
  float: left;
  width: 100%;
  height: 100vh;
  background-color: #eaeeeb;
}
#main h1 {
  margin-left: 420px;
  font-family: "Pretendard-SemiBold";
  font-size: 32px;
  color: #000;
  margin-top: 130px;
}
#main .line {
  float: left;
  margin: 15px 0 30px 420px;
  width: 1080px;
  height: 3px;
  border-radius: 2px;
  background-color: #707070;
}

#post_all {
  width: 1100px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.card {
  margin-top: 15px;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 200px) {
  .card {
    width: 200px;
    height: 285px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: 200px 300px;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e),
    -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(11.7%, rgba(0, 0, 0, 0.009)),
    color-stop(22.1%, rgba(0, 0, 0, 0.034)),
    color-stop(31.2%, rgba(0, 0, 0, 0.072)),
    color-stop(39.4%, rgba(0, 0, 0, 0.123)),
    color-stop(46.6%, rgba(0, 0, 0, 0.182)),
    color-stop(53.1%, rgba(0, 0, 0, 0.249)),
    color-stop(58.9%, rgba(0, 0, 0, 0.32)),
    color-stop(64.3%, rgba(0, 0, 0, 0.394)),
    color-stop(69.3%, rgba(0, 0, 0, 0.468)),
    color-stop(74.1%, rgba(0, 0, 0, 0.54)),
    color-stop(78.8%, rgba(0, 0, 0, 0.607)),
    color-stop(83.6%, rgba(0, 0, 0, 0.668)),
    color-stop(88.7%, rgba(0, 0, 0, 0.721)),
    color-stop(94.1%, rgba(0, 0, 0, 0.762)),
    to(rgba(0, 0, 0, 0.79))
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e),
    -webkit-transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
  background-image: url(../images/MoviePoster/space_poster.jpg);
}
.card:nth-child(2):before {
  background-image: url(../images/MoviePoster/cop_poster.jpg);
}
.card:nth-child(3):before {
  background-image: url(../images/MoviePoster/summer_poster.jpg);
}
.card:nth-child(4):before {
  background-image: url(../images/MoviePoster/remember_poster.jpg);
}
.card:nth-child(5):before {
  background-image: url(../images/MoviePoster/plane_poster.jpg);
}
.card:nth-child(6):before {
  background-image: url(../images/MoviePoster/mostlove_poster.jpg);
}
.card:nth-child(7):before {
  background-image: url(../images/MoviePoster/spring_poster.jpg);
}
.card:nth-child(8):before {
  background-image: url(../images/MoviePoster/flower_poster.jpg);
}
.card:nth-child(9):before {
  background-image: url(../images/MoviePoster/anen_poster.jpg);
}
.card:nth-child(10):before {
  background-image: url(../images/MoviePoster/start_poster.jpg);
}

.content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}

.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}
.con_tit {
  font-family: "pretendard";
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.act_name {
  font-family: "KoPubWorld바탕체";
  font-size: 14px;
  font-style: normal;
  line-height: 1.35;
}
.content span {
  font-family: "KoPubWorld바탕체";
  font-size: 14px;
  font-style: normal;
  margin-top: 5px;
}

.btn {
  cursor: pointer;
  margin-top: 30px;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.btn:hover {
  background-color: #0d0d0d;
}

.btn:focus {
  outline: 1px dashed #759b70;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
    transform: translateY(calc(100% - 4.5rem));
  }

  .content > *:not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e),
      -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e),
      -webkit-transform var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    -webkit-box-align: center;
    align-items: center;
  }

  .card:hover:before,
  .card:focus-within:before {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }

  .card:hover:after,
  .card:focus-within:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .card:hover .content,
  .card:focus-within .content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}

#post_pgbtns {
  text-align: center;
  margin-top: 50px;
}
#post_pgbtns a {
  margin: 0 12px;
  color: #101010;
  font-size: 18px;
  font-family: "Pretendard-Regular";
}
#post_pgbtns a:nth-child(2) {
  margin: 0 12px;
  color: #759b70;
  border-bottom: 2px solid #759b70;
}
